*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(56, 210, 154);
    text-align: center;
}
.contant{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
@media screen and (max-width: 1560px){
    .game{
        width: 36%;
    }
    
}
@media screen and (max-width: 1261px){
    .game{
        width: 48%;
    }
}
@media screen and (max-width : 942px){
    .game{
        width: 60%;
    }
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #b64845;
    background-color: rgb(250, 230, 101);
}
.ResetBtn{
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #191913;
    border: 0px;
    color: white;
    border-radius: 10px;
}
.new-btn{
    /* margin-top: 50px; */
    padding: 10px;
    background-color: #191913;
    border: 0px;
    color: white;
    border-radius: 10px;
}
.Msg{
    color: #fafac6;
    font-size: 5vmin;
}
.Msg1{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 4rem;
}
.hide{
    display: none;
}
h1{
    font-size: -webkit-xxx-large;
}